- if user_signed_in?
  %p#intro
    Bem vindo
    = current_user.name
    %br/
  %p#intro

    %span
      Compartilhe seus Projetos e Inspire seus amigos.
- else
  %p#intro
    Mostre seu Talento
    %br/
    %span
      Compartilhe seus Projetos e Inspire seus amigos.

#posts
  = will_paginate @posts, previous_label: "Antigo", next_label: "Recente", inner_window: 1, outer_window: 0
  - @posts.each do |post|
    .post
      .post_image
        = link_to (image_tag post.image.url(:small)), post
      .post_content
        .title
          %h2= link_to post.title, post
        .data.clearfix
          %p.username
            Criado por
            = post.user.name
          %p.buttons
            %span
              %i.fa.fa-comments-o
              = post.comments.count
            %span
              %i.fa.fa-thumbs-o-up
              = post.get_likes.size
            %span
              %i.fa.fa-thumbs-o-down
              = post.get_dislikes.size
