#post_show
  %h1= @post.title
  %p.username
    Criado por
    = @post.user.name
    | Postado há
    = time_ago_in_words(@post.created_at)
  .clearfix
    .post_image_description
      = image_tag @post.image.url(:medium)
      .description= simple_format(@post.description)

    .post_data
      = link_to "Visite o Link", @post.link, target: "_blank", class: "button"
      = link_to curtir_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@post.get_upvotes.size, "Curtida")
      = link_to descurtir_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@post.get_downvotes.size, "Descurtidas")
      %p.data
        %i.fa.fa-comments-o
        = pluralize(@post.comments.count, "Comentario")
      - if @post.user == current_user
        = link_to "Editar", edit_post_path(@post), class: "data"
        = link_to "Deletar", post_path(@post), method: :delete, data: { confirm: "Você tem certeza?"}, class: "data"
        = link_to "Voltar", root_path, class: "data"
      - else
        = link_to "Voltar", root_path, class: "data"

    #random_post
      %h3 Outras Inspirações
      .post
        .post_image
          = link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)
        .post_content
          .title
            %h2= link_to @random_post.title, post_path(@random_post)
          .data.clearfix
            %p.username
              Criado por
              = @random_post.user.name
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @random_post.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @random_post.get_upvotes.size
      %br

      .post
        .post_image
          = link_to (image_tag @another_post.image.url(:small)), post_path(@another_post)
        .post_content
          .title
            %h2= link_to @another_post.title, post_path(@another_post)
          .data.clearfix
            %p.username
              Criado por
              = @another_post.user.name
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @another_post.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @another_post.get_upvotes.size




#comments
  - if user_signed_in?
    - if @post.comments.count > 1
      %h2.comment_count= pluralize(@post.comments.count, "Comentarios")
    - else
      %h2.comment_count= pluralize(@post.comments.count, "Comentario")

      - @comments.each do |comment|
        .comment
          %p.username= comment.user.name
          %p.content= comment.content

    = render 'comments/form'
  - else
    = link_to "Cadastre-se para ler os comentarios", new_user_registration_path, class: "logout"
