%h1= @post.title
%p= @post.link
%p= @post.description

= link_to "Voltar", root_path
= link_to "Editar", edit_post_path(@post)
= link_to "Deletar", post_path(@post), method: :delete, data: { confirm: "Você tem certeza?" }
