!!!
%html
%head
  %title Like-Image
  = stylesheet_link_tag    'application'
  = javascript_include_tag 'application'
  %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
  %link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
  = yield :title
  = csrf_meta_tags
%body
  - if notice
    #notice_wrapper
      %p.notice= notice
  - if alert
    #alert_wrapper
      %p.alert= alert

  %header
    .wrapper.clearfix
      #logo= link_to "Like-Image", root_path
      %nav
        - if user_signed_in?
          = link_to current_user.name, edit_user_registration_path
          = link_to "Sair", destroy_user_session_path, method: :delete
          = link_to "Add Nova Inspiração", new_post_path, class: "button"
        - else
          = link_to "Entrar", new_user_session_path
          = link_to "Cadastrar", new_user_registration_path, class: "button"

  .wrapper

    =yield
