!!!5
%html
  %head
    %title LikeImage | Inspire-se
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      %p= "Welcome #{current_user.name}"
      = link_to 'Sair', destroy_user_session_path, :method => :delete
      = link_to "Nova Inspiração", new_post_path
    - else
      = link_to 'Entrar', new_user_session_path
      = link_to 'Criar Conta', new_user_registration_path
    =yield
